 .DS_Store
        .bash_history
        .bashrc
        .cache/
        .conda/
        .gitconfig
        .gitignore
        .ipynb_checkpoints/
        .ipython/
        .jupyter/
        .jupyterhub.stderr
        .jupyterhub.stdout
        .local/
        .netrc
        .ssh/
        04/
        2020/
        README_IMPERIAL_RDS.txt
        Untitled.ipynb
        Untitled1.ipynb
        download_log.txt
        hard/
        hard_env.yml
        irp-mb1024/
        miniconda3/
        myenv/
        run_download.pbs
        run_download.pbs.save
        run_download.pbs.save.1
        sentinel_data/
        sigma0_arrays/
